/* Write your media queries and flexbox CSS below */
@media screen and (min-width: 480px) {
  .site-header__nav {
    display: flex;
  }
}
@media screen and (min-width: 700px) {
  .site-header {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 992px) {
  .site-header {
    justify-content: space-between;
  }
  .site-header__checkout {
    align-self: flex-end;
  }
  .site-header__nav {
    align-self: center;
  }
}
